---
title: Sandbox for sand fox
layout: default
---
<div class="container-fluid fox">
    <div class="row">
        <div class="col p-3">
            <h1 class="display-1">
                {{site.title}}
            </h1>
            <div class="text-right mt-n3 mb-3">
                <small class="text-muted text-right pr-4">{{title}}</small>
            </div>
            <p class="lead mt-5 pl-4">
                {{site.description}}
            </p>
                      
        </div>
        <div class="col py-3">
            <img class="img-fluid rounded mx-auto d-block" src="img/fennec.png">
        </div>
    </div>
</div>
<hr>
<p>
{% set pagelist = collections.pages %}
{% include "pagelist.njk" %}
</p>