---
title: Chatbot with AI answers
description: This example uses a chatbot configured to provide AI answers about the Front Knowledge Base.
layout: chat
tags: chats
date: 2024-07-05
---
<script src='https://chat-assets.frontapp.com/v1/chat.bundle.js'></script>
<script>
  window.FrontChat('init', {chatId: '32d89621a149137c2d48092162779d98', useDefaultLauncher: true});
</script>