---
title: Basic chat
description: This example uses the base Front chat widget code without any identity verification
layout: chat
tags: chats
date: 2020-05-26
---
<script src="https://chat-assets.frontapp.com/v1/chat.bundle.js"></script>
<script>
  window.FrontChat('init', {chatId: '2c7440c8ae125ea5b6b7c6b61091838e', useDefaultLauncher: true});
</script>