---
title: Basic chat with show on load
description: Basic chat functionality that shows the Chat as soon as it loads.
layout: chat
tags: chats
date: 2020-11-09
---
<script src="https://chat-assets.frontapp.com/v1/chat.bundle.js"></script>
<script>
  window.FrontChat('init', {chatId: 'a019c83ab77a570c49500301e65d1297', useDefaultLauncher: true});
  window.FrontChat('show');
</script>