---
title: Chatbot with auto-archive
description: This example uses the base Front chat widget code with a simple chatbot.  The bot presents a choice to continue the conversation or to end.
layout: chat
tags: chats
date: 2023-10-10
---
<script src="https://chat-assets.frontapp.com/v1/chat.bundle.js"></script>
<script>
  window.FrontChat('init', {chatId: 'af6cbc64fe94ef1e7cea1e79227f1b37', useDefaultLauncher: true});
</script>