---
title: Basic chat with chatbot
description: This example uses the base Front chat widget code with a simple chatbot.  The bot presents a welcome message and a form to collect visitor information.
layout: chat
tags: chats
date: 2023-08-02
---
<script src="https://chat-assets.frontapp.com/v1/chat.bundle.js"></script>
<script>
  window.FrontChat('init', {chatId: 'aca4070b6b942cc754406792bb897ebf', useDefaultLauncher: true});
</script>