---
title: Chat webpack only
description: This example only includes the chat webpack and doesn't call any FrontChat method
layout: chat
tags: chats
date: 2022-04-22
---
<script src="https://chat-assets.frontapp.com/v1/chat.bundle.js"></script>