---
title: Unverified chat with no email capture
description: This example uses the base Front chat widget code without any identity verification, and disables email capture
layout: chat
tags: chats
date: 2020-09-21
---
<script src="https://chat-assets.frontapp.com/v1/chat.bundle.js"></script>
<script>
  window.FrontChat('init', {chatId: 'a7a580657634f151fb5d70e18ec28cbe', useDefaultLauncher: true});
</script>