---
title: Chat with verified users only, hash provided v2
description: This chat widget is configured to only permit chats when an identified userHash is provided.  A pre-calculated hash is provided for the given email.  Used to test providing a different transcript email than authenticated.
layout: chat
tags: chats
date: 2020-05-26
---
<script src="https://chat-assets.frontapp.com/v1/chat.bundle.js"></script>
<script>
  window.FrontChat('init', {
    chatId: 'c96a4f103123656ef521913979693b0c', 
    useDefaultLauncher: true,
    email: 'support+v2@frontapp.com',
    userHash: '1a1e749faaeece84ebfe5d0acba5e3e9a09f4ec63392940db35866b58920b30b'
    // userHash algorithm: https://dev.frontapp.com/docs/chat-sdk-reference#identity-verification
  });
</script>