---
title: Chat with verified users only, no hash provided
description: This chat widget is configured to only permit chats when an identified userHash is provided.  In this case, no email or userHash is provided to demonstrate the errors associated.
layout: chat
tags: chats
date: 2020-05-26
---
<script src="https://chat-assets.frontapp.com/v1/chat.bundle.js"></script>
<script>
  window.FrontChat('init', {
    chatId: 'c96a4f103123656ef521913979693b0c', 
    useDefaultLauncher: true
  });
</script>