---
title: Chat with verified 'username'.
description: This example shows how to use a 'username' (eg. fakeusername) with verified chat.
tags: chats
date: 2020-12-08
---
<script src="https://chat-assets.frontapp.com/v1/chat.bundle.js"></script>
<script>
  window.FrontChat('init', {
      chatId: 'a019c83ab77a570c49500301e65d1297', 
      useDefaultLauncher: true,
      email: 'fakeusername',
      userHash: '0bf168936df0c05a245386bf554a3ae8ed677b9a1bb324178809f93bbeaf21f0'});
      // userHash algorithm: https://dev.frontapp.com/docs/chat-sdk-reference#identity-verification
</script>