---
title: Chat with verified users only, hash provided
description: This chat widget is configured to only permit chats when an identified userHash is provided.  A pre-calculated hash is provided for the given email.
layout: chat
tags: chats
date: 2020-05-26
---
<script src="https://chat-assets.frontapp.com/v1/chat.bundle.js"></script>
<script>
  window.FrontChat('init', {
    chatId: 'c96a4f103123656ef521913979693b0c', 
    useDefaultLauncher: true,
    email: 'support@frontapp.com',
    userHash: 'b893b9a4f65ed22d523c6a56123399c0c3565b6f6a25bf2ad28086b643711455'
    // userHash algorithm: https://dev.frontapp.com/docs/chat-sdk-reference#identity-verification
  });
</script>