<ul>
{% for page in pagelist %}
  <li>
    <a href="{{ page.url | url }}index.html">{% if page.data.title %}{{ page.data.title }}{% else %}<code>{{ page.url | url }}</code>{% endif %}</a>
  </li>
{% endfor %}
</ul>