---
layout: plugin
description: Knowledge Owl test
---
var _ko19 = _ko19 || {};
_ko19.__pc = '600b04456e121cce5ebc9411-600b04576e121c835cbc9779';
_ko19.base_url = 'https://front-support-demo.knowledgeowl.com';

!function() {
    var ko = document.createElement('script');
    ko.type = 'text/javascript';
    ko.async = true;
    
    ko.src = _ko19.base_url + '/widget/load';
    document.head.appendChild(ko);
}();	
