// Bootstrap Overrides
@import './vendor/bootstrap_overrides';

// Bootstrap
@import './vendor/bootstrap';

.fox {
    background-color: #f09851;
}

.sand {
    background-color: #FFA866;
}

a {
    color: #33308E;
}