---
title: Composer links
layout: default
---
Based on this help center article <a href="https://help.frontapp.com/t/y7249s/how-to-open-fronts-composer-from-another-app-via-mailto-hyperlinks">How to open Front's composer from another app via mailto: hyperlinks</a><br>

<a href="mailto:a@z.com?subject=My%20Subject&text=My%20body">Mailto: example with subject and text</a><br>
<a href="mailto-frontapp:a@z.com?subject=My%20Subject&text=My%20body">Mailto-frontapp: example with subject and text</a><br>