---
title: Static chat test for SchoolLinks
description: Static chat test for SchoolLinks
layout: layouts/base.njk
---
<script src="https://chat-assets.frontapp.com/v1/chat.bundle.js"></script>
<script>
  window.FrontChat('init', {
    chatId: "ea69d809507ed47a936067336c6da108",
    email: "district@jisd.org",
    useDefaultLauncher: true,
    userHash: "9cd0a11ec8709af1dc4254599156d1a7a605a07905048d795947a7550812c5cf"
  });
</script>