<!doctype html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    {% if scripts %}<script src="{{ scripts | safe }}"></script>{% endif %}
    <link rel="stylesheet" href="/css/base.css">
  </head>
  <body>
    <h1>{{ title }}</h1>
    <p>{{ description }}</p>

    {{ content | safe }}
  </body>
</html>

