---
layout: default
---
<div class="container-fluid fox">
    <div class="row px-3 py-2">
        <h4 class="display-4">This page is used to demonstrate Front chat</h4>
    </div>
    <div class="row px-5">
        {% if description %}
            <h4>{{ description }}</h4>
        {% endif %}
    </div>
    <hr>
    <div class="row my-3">
        <div class="col-md-5 m-3 p-3 rounded-lg sand">
            <h4>Help Center links:</h4>
            <p>
                <ul>
                    <li><a href="https://dev.frontapp.com/docs/chat-overview">
                        Front Chat Widget developer documentation
                    </a></li>
                    <li><a href="https://help.frontapp.com/t/x129aq/how-to-set-up-a-front-chat-inbox-in-front">
                        How to set up a Front Chat inbox in Front
                    </a></li>
                    <li><a href="https://help.frontapp.com/t/80290v/using-front-chat">
                        Using Front Chat
                    </a></li>
                    <li><a href="https://help.frontapp.com/t/y72vr5/recognize-logged-in-users-with-front-chat-identity-verification">
                        Recognize logged in users with Front Chat identity verification
                    </a></li>
                    <li><a href="https://dev.frontapp.com/docs/chat-sdk-reference#identity-verification">
                        userHash algorithm
                    </a></li>
                </ul>
            </p>
        </div>
        <div class="col-md-5 p-3">
            {{ content | safe }}      
        </div>
    </div>
    <hr>
    <div class="row p-3">
        {% set code = content %}
        {% include "layouts/withcode.njk" %}
    </div>
</div>