---
layout: default
---
<div class="container-fluid">
    <div class="row px-3 py-2">
        <h4 class="display-4">This page is used to demonstrate Front forms</h4>
    </div>
    <div class="row p-3">
        {% if description %}
            <h4>{{ description }}</h4>
        {% endif %}
    </div>
    <hr>
    <div class="row my-3">
        <div class="col-md-5 ml-3 p-3 border border-dark rounded-lg">
            <h4>Help Center links:</h4>
            <p>
                <ul>
                    <li><a href="https://help.frontapp.com/t/h429xa/how-to-set-up-a-form-inbox-in-front">How to set up a form inbox in Front</a></li>
                </ul>
            </p>
        </div>
        <div class="col-md-6 p-5">
            {{ content | safe }}
        </div>
    </div>
    <hr>
    <div class="row p-3">
        {% set code = content %}
        {% include "layouts/withcode.njk" %}
    </div>
</div>




