
<div class="container-fluid">
    <div class="row py-2">
        <h3>Code used on this page:</h3>
    </div>
    <div class="row px-3 py-2">
        <pre class="pre-scrollable text-light bg-dark m-3 p-3">
{{ code }}
        </pre>
    </div>
</div>